.header {
    height: 100px;
    background-color: #ffe600;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.header .logo{
    justify-self: end;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo .imagen-logo{
    width: 70%;
    height: 70%;
}

.header .enviar{
    justify-self: end;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .enviar .texto {
    display: flex;
    flex-direction: column;
}

.header .enviar p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 12px;
}

.header .envio-gratis{
    justify-self: start;
}

.header .otras-nav{
    justify-self: start;
}
.search-bar {
    width:80%;
    height: 40px;
}

.search-bar-form {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-radius: 2px;
  
}

.search-bar-form-input {
    width:92%;
    height: 100%;
    border: none;
    outline: none; /* es necesario porque el navegador tiene por defecto que al hacer click se activa un outline, esto lo elimina, tambien se podria poner al hacer focus*/
    box-sizing: border-box;
    padding: 0 12px;
}

.search-bar-form-btn {
    height: 100%;
    width: 8%;
    background-color: white;
    border: none;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.search-bar-form-btn::before {
  content: ""; /* para que el elemento virtual exista si o si */
  position: absolute; /* para posicionarlo con respecto al padre (el boton) */
  left: 0; /* a la izquierda de todo con respecto al padre */
  top: 25%; /* deja un margen del 25% arriba con respecto al padre */
  height: 50%; /* de manera que el elemento va del 25% al 75% */
  width: 1px; /* el elemento tiene un grueso de 1px simulando un borde */
  background-color: rgba(0,0,0,.2);
}

.search-bar-form:focus-within { /* Aplica este estilo si algún hijo tiene focus (cuando se selecciona un campo)*/
    box-shadow: 0 0 0 2px rgb(75, 138, 157);
    outline: none;
}

.envio-gratis {
    width: 100%;
    height: 100%;
}

.envio-gratis-anchor {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.envio-gratis-anchor-img {
    width: 60%;
    height: 80%;
    object-fit: contain;
}
