.navbar {
    width: 85%;
    height: 100%
}

.navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list li{
    font-weight: 400;
    font-size: 14px;
    font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif, sans-serif;
    cursor: pointer;
}

.mercado{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mercado span {
    background-color: #00a650;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    bottom: 85%;
    font-size: 8px;
    line-height: 1;
    padding: 2px 4px;
    font-weight: 600;
}

